{% extends 'base.html' %}

{% block meta %}
<title>Tambahkan Task Kamu</title>
{% endblock meta %}

{% block content %}  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Rubik:wght@300&display=swap" rel="stylesheet">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class = "login">
    <h1 class="h-one" style="color: black;">What are you </h1>
    <h1 class="h-two" style="color:black">planning to do today?</h1>
    
        <form method="POST" >  
            {% csrf_token %}  
            
            <div class = 'table-responsive'>
                <table class="tab">  
                    <label for="title" style="color:black ;">Judul: </label>
                    <br>
                    <input type="text" id="title" name="title" style="width: 250px;">
                    <p></p>

                    <label for="description" style="color: black;">Deskripsi: </label>
                    <br>
                    <input type="text" id="description" name="description" style="width: 250px; height: 100px;">
                    <p></p>

                </table>
            </div>
            <button type="submit">Tambah</button>

        </form>
        <p></p>
        <button type="submit"><a href="{% url 'todolist:show_todolist' %}">Kembali</a></button>
</div> 
</body>

<style>
    .login{
        text-align: center;
        position: relative;
        top: 120px;
        font-family: 'Rubik', sans-serif;

    }
    body{
        background-color: white;
        position: relative;
        bottom: 70px;
    }
    .h-one{
        position: relative;
        bottom: 30px;
    }
    .h-two{
        position: relative;
        bottom: 30px;
    }
</style>

{% endblock content %}